.container{
  margin:5%;
  text-align:center;
}
body{
  background-color: rgb(11, 11, 11);
}
.card{
  background-color:hsl(120, 42%, 25%);
  padding:3%;
  color:white;
}
.hidden{
  display:none;
}
.highlight{
  font-size: 50px;
  font-weight: bold;
}
.sign{
  font-size:100px;
  color:green;
  width:fit-content;
  display: inline-flex;
}
.signAni{
  text-align: center;
}